@model IEnumerable<Hamburgueria.DATA.Models.Pratos>

@{
    ViewData["Title"] = "AdicionarPedidoCliente";
}

<h1>AdicionarPedidoCliente</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValorPrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePrato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValorPrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePrato)
            </td>
            <td>

                    <a asp-action="Details" asp-route-id="@item.Codigo">Details</a> |  <!-- Aqui pode ser para mostrar os ingredientes do pedido -->
                <a asp-action="Delete" asp-route-id="@item.Codigo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
