@model IEnumerable<Hamburgueria.DATA.Models.Pratos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValorPrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePrato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValorPrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePrato)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo">Adicionar ao carrinho</a> |
            </td>
        </tr>
}
    </tbody>
</table>
