@model IEnumerable<Hamburgueria.DATA.Models.DTO.IngredienteDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom_ingrediente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ind_ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dat_cadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nom_ingrediente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ind_ativo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dat_cadastro)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id_ingrediente">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id_ingrediente">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id_ingrediente">Delete</a>
                        </td>
                    </tr>
            }
    </tbody>
</table>
